body {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	background: background: #fafafa;
}
/*Mobile format*/
.head2 {
	padding-top: 1px;
	padding-bottom: 1px;
	width: 100%;
	background-color: #5f788a;/*#BDBDBD*/
	border-radius: 5px;
}
h1 {
	text-align: center;
	font-size: 2em;
	color: white;
}
.head3 {
	text-align: center;
	color: #cbd5db;
	font-size: 1.5em;
}
.img {
	padding-left: 20px;
}
img:hover {
	transform: scale(0.85);
}
section .para h2 {
	margin-left: 80px;
	font-size: 1.7em;
}
.intro {
	margin-left: 80px;
	font-size: 20px;
	width: 60%;
	color: #346;
}
button {
	color: black;
	background-color: transparent;
	border-color: black;
	margin-left: 80px;
	font-size: 20px;
	border-radius: 0.3em;
}
#more{
	display: none;
}
.middle {
	background-image: url(https://cdn.pixabay.com/photo/2014/06/16/23/40/grey-370125__340.png);
	width: 100%;
	height: auto;
	margin-top: 1%;
}
.middle h2{
	font-size: 1.7em;
}
.middle p{
	color: #346;
	font-size: 20px;
}
.footer {
	margin-top: 2%;
	width: 100%;
	background: black;
	display: block;
	color: white;
	padding: 1%;
}
.footer-items h2 {
	margin: 8px 0;
	color: grey;
	font-weight: 3em;
}
.footer-items input {
	background: transparent;
	border-width: 1px;
	border-color: white;
	border-radius: 2px;
	height: 40px;
	width: 270px;
}

/* Tablet Formatting */
@media screen and (min-width: 480px)
{
	img{
		max-width: 60%;
	}
	.head2 h1{
		font-size: 2.4em;
	}
	section .head2{
		width: 50%;
		margin-left: 25%;
	}
	.footer-items input {
		width: 250px;
	}
	.middle {
		padding: 1%;
	}
}
/*Desktop Formatting*/
@media only screen and (min-width: 768px)
{
	h1{
		font-size: 3em;
	}
	img{
		float: right;
		max-width: 50%;
		padding-right: 100px;
	}
	section .head2{
		width: 50%;
		margin-left: 25%;
	}
	.para h2 {
		font-size: 40px;
	}
	.middle{
		margin-left: 0px;
		padding: 1%;
	}
	.inner-footer {
	width: 95%;
	margin: auto;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
    }
    .footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
    }
    hr{
    	width: 100%;
    	color: black;
    	margin-left: 1.5%;
    }
}